
a {
  text-decoration-line: none;
}

.game__news {
  width: 100vw;
  background-image: url("https://pokemonkorea.co.kr/img/game/new_bg.jpg");
  background-repeat: repeat;
  padding: 25px 0 100px;
}

.game__news > h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.game__news__container {
  max-width: 1250px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.game__news__card {
  width: 290px;
  height: 340px;

  margin: 15px 0;

  padding: 0px 10px;
}

.game__news__card__album {
  width: 290px;
  height: 180px;
}

.game__news__card__album > img {
  width: 100%;
  height: 100%;
}

.game__news__card__container {
  width: 290px;
  height: 190px;

  background-color: white;
  color: black;

  font-size: 20px;

  border-bottom: 4px solid red;
}

.game__news__card__info {
  padding: 10px;
}

.game__news__upper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game__news__under {
  display: flex;
  flex-wrap:wrap;
  gap: 10px;
  font-size: 14px;
  color: #666;

}

.nuw__btn {
  background-color: red;
  border: none;
  width: 52px;
  height: 32px;
  border-radius: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    position: relative;
    top:10px;
    left:90px;

}


.game__li__list {

    list-style: none;
    display: flex;
    flex-direction: column;

    width: 300px; /* 각 항목의 너비 */

    max-width: 100%;
}
.new__more {
    width: 300px;
    height: 55px;
    background-color: white;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    transform: skew(-20deg);
    border: 1px solid transparent;

  }

  .new__more__text {
    color: black;
    font-size: 18px;
    font-weight: 700;
    transform: skew(20deg);
  }
