<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>애니메이션</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" th:href="@{/front/css/style.css}">
    <link rel="stylesheet" th:href="@{/front/css/animation/animation__list.css}" />
    <link rel="stylesheet" th:href="@{/front/css/animation/animation__top.css}" />
    <link rel="stylesheet" th:href="@{/front/css/animation/animation__under.css}" />
    <link rel="stylesheet" th:href="@{/front/css/animation/animation__video.css}" />
    <script th:src="@{/front/js/animation/animation.js}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>
<body>
<header th:replace="~{front/outlines/_header::common}"></header>


<section class="animation__top">
    <!-- Swiper -->
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="https://pokemonkorea.co.kr/2025_M8">
                    <article class="animation__top__cover">
                        <div class="animation__top__album">
                            <img
                                    src="https://data1.pokemonkorea.co.kr/newdata/2024/12/2024-12-23_18-07-49-53506-1734944869.png"
                                    alt=""
                            />
                        </div>
                        <div class="animation__top__info">
                            <h2 class="animation__top__tit">
                                「극장판 포켓몬스터 AG: 뮤와 파동의 용사 루카리오」2025년 1월 22일 개봉 예정
                                <img
                                        src="https://pokemonkorea.co.kr/img/icon/icon_more2_lg.png"
                                        alt=""
                                />
                            </h2>
                        </div>
                    </article>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="https://pokemonkorea.co.kr/pokemonLR">
                    <article class="animation__top__cover">
                        <div class="animation__top__album">
                            <img
                                    src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-20_15-01-23-30520-1732082483.png"
                                    alt=""
                            />
                        </div>
                        <div class="animation__top__info">
                            <h2 class="animation__top__tit">
                                「TV 애니메이션 포켓몬스터」테라스탈 데뷔 절찬 방영 중
                                <img
                                        src="https://pokemonkorea.co.kr/img/icon/icon_more2_lg.png"
                                        alt=""
                                />
                            </h2>
                        </div>
                    </article>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="https://www.pokemonkorea.co.kr/2024_3rd_project">
                    <article class="animation__top__cover">
                        <div class="animation__top__album">
                            <img
                                    src="https://data1.pokemonkorea.co.kr/newdata/2024/08/2024-08-01_13-53-25-35881-1722488005.png"
                                    alt=""
                            />
                        </div>
                        <div class="animation__top__info">
                            <h2 class="animation__top__tit">
                                포켓몬스터 금은편: 은빛산 이야기 8월 10일 (토) 첫 방송!
                                <img
                                        src="https://pokemonkorea.co.kr/img/icon/icon_more2_lg.png"
                                        alt=""
                                />
                            </h2>
                        </div>
                    </article>
                </a>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>
<section class="animation__new__list">
    <h2>새로운 소식</h2>
    <div class="animation__new__container">
        <a th:href="${animationNewList.pageUrl}"  th:each="animationNewList : ${animationNewList}">
            <article class="animation__new__card">
                <div class="animation__new__card__album">
                    <img
                            th:src="${animationNewList.imageUrl}"
                            alt=""
                    />
                </div>
                <div class="animation__new__content">
                    <div class="aanimation__new__info">
                        <div class="animation__upper">
                            <p th:text="${animationNewList.title}">주니어 토너먼트 2024 시즌2 시작!</p>
                        </div>
                        <div class="animation__card__under">
                            <p th:text="${animationNewList.sub_title}">2024년 12월 12일</p>
                            <button class="animation__btn">
                                <img
                                        th:src="${animationNewList.sub_image}"
                                        alt=""
                                />
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </a>
    </div>
    <div class="animation__more">
        <a href="https://pokemonkorea.co.kr/news/3">
            <div class="animation__more__text">더보기</div>
            <div class="animation__more__image">
                <img src="https://pokemonkorea.co.kr/img/icon/icon_more.png" />
            </div>
        </a>
    </div>
</section>
<section class="animation__video">
    <h2>새로운 영상</h2>
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <article class="animation__video__swiper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/JB8pXJiys-g?si=JEdl3AoT4GvYpca6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="animation__video__swiper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/FWBatVroakk?si=1tJNg-4MXeDNO0Xd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="animation__video__swiper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/FNkoJKpohu4?si=fw4hoxO6WCAqlVfn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="animation__video__swiper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZNgu07oF7Dw?si=_fhhSWeNXXbUghdN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="animation__video__swiper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/dZUqJ2fQjhA?si=-uaqcYVJ5rxH61J5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="animation__video__swiper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6qQen-7I8UI?si=kh52xvLnyQNZnK3w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="animation__video__swiper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/LwN59b7fs-0?si=00-SiwLX7hD_a9_D" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="animation__video__swiper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/LmjUru0hBBw?si=MyLDZ4qC9UO2J1jm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </article>
            </div>

        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

    <div class="animation__video__more">
        <a href="https://pokemonkorea.co.kr/news/3">
            <div class="animation__video__more__text">더보기</div>
            <div class="animation__video__more__image">
                <img src="https://pokemonkorea.co.kr/img/icon/icon_more.png" />
            </div>
        </a>
    </div>
</section>
<section class="animation__under">
    <ul>
        <li>TV 애니메이션</li>
        <li>극장판</li>
    </ul>
    <div class="animation__under__container">
        <a href="https://pokemonkorea.co.kr/animation/view/14069">
            <article class="animation__under__card">
                <div class="animation__under__card__album">
                    <img
                            src="https://data1.pokemonkorea.co.kr/newdata/2024/01/2024-01-16_14-10-44-17065-1705381844.png"
                            alt=""
                    />
                </div>
                <div class="animation__under__contain__info">
                    <h3>포켓몬스터(2023)</h3>
                    <p class="animation__under__contain__inner">
                        포켓몬스터, 줄여서 말하면 포켓몬! 이 별에 사는 신비하고 신비한
                        생물. 하늘, 바다, 숲, 길거리에서 찾아볼 수 있다. 신비한 펜던트를
                        가진 팔데아 출신의 소녀, 리코. 수수께끼의 몬스터볼을 가진 관동
                        출신의 소년, 로드. 광대한 포켓몬스터의 세계를…
                    </p>
                </div>
            </article>
        </a>
        <a href="https://pokemonkorea.co.kr/animation/view/6354">
            <article class="animation__under__card">
                <div class="animation__under__card__album">
                    <img
                            src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2017-06-12_18-41-33-92846-1497260493.png"
                            alt=""
                    />
                </div>
                <div class="animation__under__contain__info">
                    <h3>포켓몬스터W</h3>
                    <p class="animation__under__contain__inner">
                        포켓몬스터, 줄여서 말하면 포켓몬!

                        이 별에 사는 세상에서 제일 신기한 생물.
                        하늘에서, 바다에서, 숲에서, 거리에서,
                        이 세계의 어디에서나 그들의 모습을 볼 수 있다.

                        이 이야기는 포켓몬 배틀에서 최강을 목표로 하는 소년
                        “지우”와 모든 포켓몬을 잡는 것이 꿈인…
                    </p>
                </div>
            </article>
        </a>
        <a href="https://pokemonkorea.co.kr/animation/view/6351">
            <article class="animation__under__card">
                <div class="animation__under__card__album">
                    <img
                            src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2017-06-15_18-19-42-16990-1497518382.png"
                            alt=""
                    />
                </div>
                <div class="animation__under__contain__info">
                    <h3>포켓몬스터썬&문</h3>
                    <p class="animation__under__contain__inner">
                        지우와 피카츄의 새로운 모험이 시작된다!

                        새로운 모험의 무대가 되는 곳은, 자연이 가득한 알로라지방.
                        넓고 맑은 하늘과 푸른 바다에 둘러싸인 알로라지방에서
                        지우와 피카츄를 기다리는 것은…?
                        새로운 포켓몬, 새로운 동료, 그리고 새로운 체험….
                        새로운 모험이 드디어 막…
                    </p>
                </div>
            </article>
        </a>
        <a href="https://pokemonkorea.co.kr/animation/view/6350">
            <article class="animation__under__card">
                <div class="animation__under__card__album">
                    <img
                            src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2017-06-12_18-41-45-64322-1497260505.png"
                            alt=""
                    />
                </div>
                <div class="animation__under__contain__info">
                    <h3>포켓몬스터 XY & Z</h3>
                    <p class="animation__under__contain__inner">
                        아무도 본 적 없는 전설의 지가르데에 숨겨진 비밀은?!
                        지우의 개굴닌자에게 일어나는 신기한 현상은?
                        지우의 친구들 앞에 가로막은 알랭과 의문의 조직 플레어단의 목적은?!
                        모든 의문의 풀릴 때, 지상 최대의 위기가 들이닥친다!
                    </p>
                </div>
            </article>
        </a>

        <a href="https://pokemonkorea.co.kr/animation/view/6349">
            <article class="animation__under__card">
                <div class="animation__under__card__album">
                    <img
                            src="https://data1.pokemonkorea.co.kr/newdata/2020/09/mega_pos.jpg"
                            alt=""
                    />
                </div>
                <div class="animation__under__contain__info">
                    <h3>포켓몬스터 XY 특별편 「MEGA EVOLUTION –최강 메가진화-」</h3>
                    <p class="animation__under__contain__inner">
                        포켓몬스터
                    </p>
                </div>
            </article>
        </a>
        <a href="https://pokemonkorea.co.kr/animation/view/6348">
            <article class="animation__under__card">
                <div class="animation__under__card__album">
                    <img
                            src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2017-06-12_18-41-33-92846-1497260493.pngg"
                            alt=""
                    />
                </div>
                <div class="animation__under__contain__info">
                    <h3>포켓몬스터 XY</h3>
                    <p class="animation__under__contain__inner">
                        드디어 대망의 새로운 시리즈가 스타트! 여행의 무대인 칼로스지방에 찾아온 지우와 파트너인 피카츄를 기다리고 있는 것은 새로운 포켓몬, 그리고 새로운 동료들과의 만남! 모든 것이 파워업 되어 등장했다!! 포켓몬 시합도 크게 진화! 생동감 넘치는 시합에서 눈을 뗄 수 없다…
                    </p>
                </div>
            </article>
        </a>
        <a href="https://pokemonkorea.co.kr/animation/view/6347">
            <article class="animation__under__card">
                <div class="animation__under__card__album">
                    <img
                            src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2017-06-12_18-41-08-33388-1497260468.png"
                            alt=""
                    />
                </div>
                <div class="animation__under__contain__info">
                    <h3>포켓몬스터 베스트위시2 데코로라 어드벤처</h3>
                    <p class="animation__under__contain__inner">
                        하나지방에서 관동지방으로 돌아가는 지우와 친구들의새로운 이야기, 데코로라제도에서의 대모험!독침붕에게 쫓기고, 거대한 앤티골에게도 쫓기고,그런데!! 수댕이와 이별…!?게다가 친구들 모두가 벰크로 변해버리는 사건이 벌어지고…!?또한! 환상의 포켓몬과 우연한 만남도 기다리고…
                    </p>
                </div>
            </article>
        </a>
        <a href="https://pokemonkorea.co.kr/animation/view/6346">
            <article class="animation__under__card">
                <div class="animation__under__card__album">
                    <img
                            src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2017-06-12_18-40-54-72566-1497260454.png"
                            alt=""
                    />
                </div>
                <div class="animation__under__contain__info">
                    <h3>포켓몬스터 베스트위시2 에피소드 N</h3>
                    <p class="animation__under__contain__inner">
                        하나리그 마고자 대회를 끝낸 지우와 친구들은 주박사의 아버지가 발견한 전설이라 불리는 포켓몬 레시라무에 관련된 장소 ‘백의 유적’을 향해 새로운 여행을 시작한다! 거기서 포켓몬의 마음의 목소리가 들린다고 하는 신비한 청년 N을 만난다. 그리고 지우와 친구들은 포켓몬을 …
                    </p>
                </div>
            </article>
        </a>

    </div>
    <div class="animation__more">
        <a href="https://pokemonkorea.co.kr/news/3">
            <div class="animation__more__text">더보기</div>
            <div class="animation__more__image">
                <img src="https://pokemonkorea.co.kr/img/icon/icon_more.png" />
            </div>
        </a>
    </div>


</section>
<footer th:replace="~{front/outlines/_footer::common}"></footer>
</body>
</html>