<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{mobile/css/common/menu.css">
</head>
<body>
<header th:fragment="common">
    <div class="left">
        <div  class="menu-toggle" id="menuToggle">☰</div>
        <a th:href="@{/}" class="logo">
            <img th:src="@{/front/images/main_logo.png}">
        </a>
         <!-- 토글 버튼 추가 -->
        <ul class="main-menu" id="mainMenu">
            <li>
                <a th:href="@{/m.news}">
                    <div>
                        <i class="icon news"></i>
                        <th:block th:text="#{소식}"></th:block>
                    </div>
                </a>
            </li>
            <li>
                <a href="/m.game">
                    <div>
                        <i class="icon game"></i>
                        <th:block th:text="#{게임}"></th:block>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <i class="icon card-game"></i>
                        <th:block th:text="#{카드_게임}"></th:block>
                    </div>
                </a>
            </li>
            <li>
                <a th:href="@{/m.animation}">
                    <div>
                        <i class="icon animation"></i>
                        <th:block th:text="#{애니메이션}"></th:block>
                    </div>
                </a>
            </li>
            <li>
                <a th:href="@{/m.goods}">
                    <div>
                        <i class="icon products"></i>
                        <th:block th:text="#{상품}"></th:block>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="right">
        <ul>
            <li>
                <a th:href="@{/m.pokemon/list}">
                    <i class="icon catalog"></i>
                    <th:block th:text="#{포켓몬_도감}"></th:block>
                </a>
            </li>
            <li>
                <a th:unless="${@memberUtil.isLogin()}" th:href="@{/member/login}">
                    <i class="icon login"></i>
                    <th:block th:text="#{로그인}"></th:block>
                </a>

                <a th:if="${@memberUtil.isLogin() && !@memberUtil.isAdmin()}" th:href="@{/mypage}">
                    <i class="icon login"></i>
                    <th:block th:text="#{MYPAGE}"></th:block>
                </a>

                <a th:if="${@memberUtil.isAdmin()}" th:href="@{/admin}" target="_blank">
                    <i class="icon login"></i>
                    <th:block th:text="#{사이트관리}"></th:block>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon search"></i>
                    <th:block th:text="#{통합검색}"></th:block>
                </a>
            </li>
        </ul>
        <a href="#" class="move-to-store"></a>
    </div>
</header>

<script th:src="@{/mobile/js/common.js} "></script>
</body>
</html>
