@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  outline: none;
  color: #000;
}

html {
  font-size: 2.5vw; /* 기본 폰트 크기 */
}

body {
  margin: 10vh 0 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

ul, ol, dl, dt, dd {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

/* 공통 스타일 */
.layout-width {
  max-width: 90vw;
  min-width: 85vw;
  width: 100%;
}

main {
  min-height: 50vh;
}

/* 사이트 상단 헤더 */
header {
  display: flex;
  width: 100%;
  height: 12vh; /* 고정된 높이 대신 vh 사용 */
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 5vw;
}

header .main-menu {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

header .main-menu > li {
  flex: 1;
  border-right: 1px solid #ebebeb;
}

header .main-menu > li:first-of-type {
  border-left: 1px solid #ebebeb;
}

header .main-menu > li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 2vw;
  font-weight: 500;
  transition: all 0.5s;
}

header .main-menu > li a:hover {
  color: #fff;
}

header .main-menu > li:nth-of-type(1) a:hover {
  background: #ffb040;
}

header .main-menu > li:nth-of-type(2) a:hover {
  background: #d63836;
}

header .main-menu > li:nth-of-type(3) a:hover {
  background: #1855a0;
}

header .main-menu > li:nth-of-type(4) a:hover {
  background: #264462;
}

header .main-menu > li:nth-of-type(5) a:hover {
  background: #793da7;
}

header > .left {
  display: flex;
  flex-grow: 1;
}

header > .left .logo {
  max-width: 30vw;
  min-width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .main-menu .icon {
  display: block;
  width: 5vw;
  height: 4vw;
  margin: 0 auto;
}

header > .right {
  display: flex;
  justify-content: flex-end;
}

header > .right > ul {
  display: flex;
  align-items: center;
}

header > .right li {
  margin: 0 2vw;
}

header > .right li a {
  font-size: 1.5vw;
  color: #222;
}

header .move-to-store {
  display: block;
  width: 20vw;
  height: 12vh;
  background: #FFDE00 url("../images/a-store.png") no-repeat center center;
  background-size: cover;
  padding: 0 2vw;
  margin-left: 3vw;
}

/* 사이트 하단 풋터 */
footer {
  height: 40vh;
  background: black;
}

.top {
  background: black;
}

.topp {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vw 0;
  color: #fff;
  font-size: 1.5vw;
  font-weight: 400;
}

.ft-menu {
  display: flex;
  gap: 2vw;
}

.ft-menu > li > a {
  text-decoration-line: none;
  color: white;
}

.top .ft-logo {
  width: 20vw;
  height: 3vh;
}

.ft-logo > img {
  width: 100%;
  height: 100%;
}

.ft-bar {
  margin-left: 2vw;
  color: gray;
}

.middlee {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 5vw 0;
  font-size: 1.2vw;
  color: white;
}

.middle {
  background: #1a1a1a;
}

.middleTit {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.sns {
  display: flex;
}

.sns > li a > img {
  width: 4vw;
  height: 4vw;
  margin-left: 2vw;
}

.bottomm {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 1.4vw;
  background: black;
  margin-top: 2vw;
  align-items: center;
}

.bottom-left {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.bottom .right {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.right-bot {
  padding-top: 3vw;
}

.ft-text {
  color: #fff;
}

/* 페이지네이션 */
.pagination {
  text-align: center;
  margin: 2vw 0;
}

.pagination a {
  display: inline-block;
  min-width: 7vw;
  height: 7vw;
  border: 1px solid #000;
  line-height: 6vw;
  font-size: 2vw;
  border-radius: 0.3vw;
}

.pagination a + a {
  margin-left: 1vw;
}

.pagination a.on {
  background: #000;
  color: #fff;
}
