<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<head>
    <link rel="stylesheet" th:href="@{/front/css/common/reset.css}" />
    <link rel="stylesheet" th:href="@{/front/css/mypage/index.css}" />
    <link rel="stylesheet" th:href="@{/front/css/mypage/menu.css}" />
    <link rel="stylesheet" th:href="@{/front/css/mypage/right.css}" />
</head>

<main layout:fragment="content">
    <section class="mypage">
        <div class="mypage__left">
            <h3>{닉네임}님의 미니홈피</h3>
            <div class="mapage__album">
                <img
                        src="https://data1.pokemonkorea.co.kr/newdata/pokedex/full/000604.png"
                        alt="포켓몬 이미지"
                />
            </div>
            <span class="mypage__info">
          {닉네임}의 미니홈피에 오신 것을 환영합니다!
        </span>
            <div class="option__list">
                <span>포켓몬스터의 세계에 잘 왔다!</span>
                <div>
                    <select id="actions" class="option__count">
                        <option value="wishlist">태초마을</option>
                        <option value="game">게임</option>
                        <option value="chat">채팅</option>
                    </select>
                    <button id="execute" class="option__btn">실행</button>
                </div>
            </div>
        </div>

        <div class="right">
            <img src="img/1.png" class="pokemon" alt="" id="charmander" />
            <img src="img/2.png" class="pokemon" alt="" id="squirtle" />
            <img src="img/3.png" class="pokemon" alt="" id="pikachu" />
            <img src="img/4.png" class="pokemon" alt="" id="clefairy" />
            <img src="img/5.png" class="pokemon" alt="" id="wugtrio" />
            <img src="img/6.png" class="pokemon" alt="" id="meowth" />
            <img src="img/7.png" class="pokemon" alt="" id="ditto" />
        </div>

        <!-- 오른쪽 메뉴 -->
        <div class="menu">
            <div class="menu__list">
                <button class="menu__btn" data-content="home">Home</button>
                <button class="menu__btn" data-content="profile">Profile</button>
            </div>
        </div>
    </section>
</main>
</html>