/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: white;
}

.left {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
}

/* 메뉴 토글 버튼 스타일 */
.menu-toggle {
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 20px;
    display: block;
}

.menu-icon {
    font-size: 30px;
}

.close-icon {
    font-size: 30px;
    display: none;
}

/* 오른쪽에서 나오는 메뉴 */
.main-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    right: -250px;  /* 메뉴는 기본적으로 화면 밖에 위치 */
    width: 250px;
    height: 100%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    transition: right 0.3s ease-in-out; /* 오른쪽에서 슬라이드 */
}

.main-menu.open {
    right: 0;  /* 메뉴가 열리면 오른쪽에서 나타남 */
}

.main-menu li {
    text-align: left;
    padding: 20px;
}

.main-menu a {
    text-decoration: none;
    color: white;
}

.main-menu a:hover {
    color: #f1f1f1;
}

.main-menu i {
    margin-right: 10px;
}

/* 기본적으로 메뉴는 열려 있지 않지만, 버튼을 클릭하면 열리도록 */
.menu-toggle {
    display: block;
}
