<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" th:href="@{/front/css/product/product.css}" />
    <link rel="stylesheet" th:href="@{/front/css/product/news.css}" />
    <link rel="stylesheet" th:href="@{/front/css/product/top.css}" />
    <script th:src="@{/front/js/product/product.js}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

</head>
<body>
<main layout:fragment="content">

    <!-- 상품페이지 - 스와이퍼 S -->
    <section class="product__top">
        <!-- Swiper -->
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="https://bit.ly/gorapaduck-is-back">
                        <article class="product__top__cover">
                            <div class="product__top__album">
                                <img
                                        src="https://data1.pokemonkorea.co.kr/newdata/2024/12/2024-12-06_10-34-07-66399-1733448847.jpg"
                                        alt=""
                                />
                            </div>
                            <div class="product__top__info">
                                <h2 class="product__top__tit">
                                    「내가왔덕 고라파덕」카카오 이모티콘 출시!!
                                </h2>
                                <img
                                        src="https://pokemonkorea.co.kr/img/icon/icon_more2_lg.png"
                                        alt=""
                                />
                            </div>
                        </article>
                    </a>


                </div>

                <div class="swiper-slide">
                    <a href="https://m.fredit.co.kr/product/detail?prdId=5365">
                        <article class="product__top__cover">
                            <div class="product__top__album">
                                <img
                                        src="https://data1.pokemonkorea.co.kr/newdata/2024/05/2024-05-30_14-20-26-24070-1717046426.jpg"
                                        alt=""
                                />
                            </div>
                            <div class="product__top__info">
                                <h2 class="product__top__tit">
                                    얼려먹고 거꾸로 먹는 포켓몬 야쿠르트!!
                                <img
                                            src="https://pokemonkorea.co.kr/img/icon/icon_more2_lg.png"
                                            alt=""
                                    />
                                </h2>
                            </div>
                        </article>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="https://smartstore.naver.com/damtuhstore/category/28cc3cee803b42388c843b401da79f12?cp=1">
                        <article class="product__top__cover">
                            <div class="product__top__album">
                                <img
                                        src="https://data1.pokemonkorea.co.kr/newdata/2024/04/2024-04-30_15-23-41-76986-1714458221.jpg"
                                        alt=""
                                />
                            </div>
                            <div class="product__top__info">
                                <h2 class="product__top__tit">
                                    포켓몬 콤부차 새로운 플레이버 출시!
                                <img
                                            src="https://pokemonkorea.co.kr/img/icon/icon_more2_lg.png"
                                            alt=""
                                    />
                                </h2>
                            </div>
                        </article>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="https://mall.lottechilsung.co.kr/display/showDisplay.lecs?goodsNo=CF31157235">
                        <article class="product__top__cover">
                            <div class="product__top__album">
                                <img
                                        src="https://data1.pokemonkorea.co.kr/newdata/2024/04/2024-04-22_08-09-46-97066-1713740986.jpg"
                                        alt=""
                                />
                            </div>
                            <div class="product__top__info">
                                <h2 class="product__top__tit">
                                    롯데칠성 포켓몬 코코리치 출시!
                                <img
                                            src="https://pokemonkorea.co.kr/img/icon/icon_more2_lg.png"
                                            alt=""
                                    />
                                </h2>
                            </div>
                        </article>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="https://www.lottehotel.com/global/ko.html">
                        <article class="product__top__cover">
                            <div class="product__top__album">
                                <img
                                        src="https://data1.pokemonkorea.co.kr/newdata/2024/04/2024-04-29_16-18-03-86228-1714375083.jpg"
                                        alt=""
                                />
                            </div>
                            <div class="product__top__info">
                                <h2 class="product__top__tit">
                                    롯데호텔 컨셉룸에서 포켓몬과 특별한 하루를 보내세요!
                                <img
                                            src="https://pokemonkorea.co.kr/img/icon/icon_more2_lg.png"
                                            alt=""
                                    />
                                </h2>
                            </div>
                        </article>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="https://lifefourcuts.com/99/?gal_idx=18003463&amp;gmode=view">
                        <article class="product__top__cover">
                            <div class="product__top__album">
                                <img
                                        src="https://data1.pokemonkorea.co.kr/newdata/2024/02/2024-02-08_10-57-00-17963-1707357420.png"
                                        alt=""
                                />
                            </div>
                            <div class="product__top__info">
                                <h2 class="product__top__tit">
                                    인생네컷 이브이 프레임 출시!
                                <img
                                            src="https://pokemonkorea.co.kr/img/icon/icon_more2_lg.png"
                                            alt=""
                                    />
                                </h2>
                            </div>
                        </article>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="http://www.lemona.co.kr/shop/shopdetail.html?branduid=10304755&amp;search=&amp;xcode=009&amp;mcode=000&amp;scode=&amp;special=3&amp;GfDT=aGt3VQ%3D%3D">
                        <article class="product__top__cover">
                            <div class="product__top__album">
                                <img
                                        src="https://data1.pokemonkorea.co.kr/newdata/2023/08/2023-08-08_08-58-09-49477-1691452689.jpg"
                                        alt=""
                                />
                            </div>
                            <div class="product__top__info">
                                <h2 class="product__top__tit">
                                    포켓몬 맛있는 레모나 출시! 약국에서 만나보세요!
                                <img
                                            src="https://pokemonkorea.co.kr/img/icon/icon_more2_lg.png"
                                            alt=""
                                    />
                                </h2>
                            </div>
                        </article>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="https://www.pokemonkorea.co.kr/Monpoke">
                        <article class="product__top__cover">
                            <div class="product__top__album">
                                <img
                                        src="https://data1.pokemonkorea.co.kr/newdata/2023/06/2023-06-28_15-14-05-61772-1687932845.jpg"
                                        alt=""
                                />
                            </div>
                            <div class="product__top__info">
                                <h2 class="product__top__tit">
                                    포켓몬 프리미엄 유아동 완구 몬포케
                                <img
                                            src="https://pokemonkorea.co.kr/img/icon/icon_more2_lg.png"
                                            alt=""
                                    />
                                </h2>
                            </div>
                        </article>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="https://www.academy.co.kr/product/list.html?cate_no=53">
                        <article class="product__top__cover">
                            <div class="product__top__album">
                                <img
                                        src="https://data1.pokemonkorea.co.kr/newdata/2024/08/2024-08-19_09-34-05-62033-1724027645.jpg"
                                        alt=""
                                />
                            </div>
                            <div class="product__top__info">
                                <h2 class="product__top__tit">
                                    아카데미과학의 다양한 포켓몬완구 만나보세요!
                                <img
                                            src="https://pokemonkorea.co.kr/img/icon/icon_more2_lg.png"
                                            alt=""
                                    />
                                </h2>
                            </div>
                        </article>
                    </a>
                </div>

                <div class="swiper-slide">
                    <a href="https://smartstore.naver.com/murgerbon/products/9127446858">
                        <article class="product__top__cover">
                            <div class="product__top__album">
                                <img
                                        src="https://data1.pokemonkorea.co.kr/newdata/2023/10/2023-10-17_10-34-41-16649-1697506481.png"
                                        alt=""
                                />
                            </div>
                            <div class="product__top__info">
                                <h2 class="product__top__tit">
                                    재미있게 간식으로 즐기는 머거본 포켓몬 아몬드 냠냠굿!
                                <img
                                            src="https://pokemonkorea.co.kr/img/icon/icon_more2_lg.png"
                                            alt=""
                                    />
                                </h2>
                            </div>
                        </article>
                    </a>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>
    <!-- 상품페이지 - 스와이퍼 E -->

    <!-- 상품페이지 - 새로운 소식 S -->
    <section class="news">
        <div class="news__container">
            <h2 class="news__title">새로운 소식</h2>
            <div class="grid-layout">
                <a
                        href="https://e.kakao.com/t/happy-happyyy-jammanbo?lang=ko&referer=co_mkt"
                >
                    <article class="card">
                        <div class="card__album">
                            <img
                                    class="card__album__img"
                                    src="https://data1.pokemonkorea.co.kr/newdata/2024/07/2024-07-31_12-01-55-44458-1722394915.png"
                                    alt=""
                            />
                        </div>
                        <div class="card__text">
                            <div class="card__title">해피햅삐 잠만보 이모티콘 출시!!</div>
                            <div class="card__sub">
                                <span class="card__sub__date">2024년 07월 31일</span>
                                <button class="card__sub__button">
                                    <img
                                            class="card__sub__button__img"
                                            src="https://pokemonkorea.co.kr/img/icon/icon_go.png"
                                            alt=""
                                    />
                                </button>
                            </div>
                            <div class="card__sub__line"></div>
                        </div>
                    </article>
                </a>

                <a
                        href="https://e.kakao.com/t/pokepeace-peaceful-life"
                >
                    <article class="card">
                        <div class="card__album">
                            <img
                                    class="card__album__img"
                                    src="https://data1.pokemonkorea.co.kr/newdata/2024/04/2024-04-05_11-11-28-53422-1712283088.png"
                                    alt=""
                            />
                        </div>
                        <div class="card__text">
                            <div class="card__title">「포켓피스 PEACE한 라이프」카카오이모티콘 출시!!</div>
                            <div class="card__sub">
                                <span class="card__sub__date">2024년 04월 22일</span>
                                <button class="card__sub__button">
                                    <img
                                            class="card__sub__button__img"
                                            src="https://pokemonkorea.co.kr/img/icon/icon_go.png"
                                            alt=""
                                    />
                                </button>
                            </div>
                            <div class="card__sub__line"></div>
                        </div>
                    </article>
                </a>

                <a
                        href="https://www.oliveyoung.co.kr/store/goods/getGoodsDetail.do?goodsNo=A000000199402"
                >
                    <article class="card">
                        <div class="card__album">
                            <img
                                    class="card__album__img"
                                    src="https://data1.pokemonkorea.co.kr/newdata/2024/02/2024-02-22_09-08-18-17015-1708560498.png"
                                    alt=""
                            />
                        </div>
                        <div class="card__text">
                            <div class="card__title">센카 퍼펙트휩 포켓몬 에디션 올리브영에서 판매중!</div>
                            <div class="card__sub">
                                <span class="card__sub__date">2024년 02월 22일</span>
                                <button class="card__sub__button">
                                    <img
                                            class="card__sub__button__img"
                                            src="https://pokemonkorea.co.kr/img/icon/icon_go.png"
                                            alt=""
                                    />
                                </button>
                            </div>
                            <div class="card__sub__line"></div>
                        </div>
                    </article>
                </a>

                <a
                        href="https://e.kakao.com/t/v-v-eevee?rcode=menu_product&amp;rcodenum=&amp;mode=site_bbs_insert&amp;number=&amp;subj=%EC%B9%B4%EC%B9%B4%EC%98%A4+%EC%9D%B4%E"
                >
                    <article class="card">
                        <div class="card__album">
                            <img
                                    class="card__album__img"
                                    src="https://data1.pokemonkorea.co.kr/newdata/2023/05/2023-05-02_09-32-12-70812-1682987532.png"
                                    alt=""
                            />
                        </div>
                        <div class="card__text">
                            <div class="card__title">카카오 이모티콘 브이브이 이브이 출시!</div>
                            <div class="card__sub">
                                <span class="card__sub__date">2023년 05월 02일</span>
                                <button class="card__sub__button">
                                    <img
                                            class="card__sub__button__img"
                                            src="https://pokemonkorea.co.kr/img/icon/icon_go.png"
                                            alt=""
                                    />
                                </button>
                            </div>
                            <div class="card__sub__line"></div>
                        </div>
                    </article>
                </a>

                <a
                        href="https://e.kakao.com/t/sensitive-kkobugi"
                >
                    <article class="card">
                        <div class="card__album">
                            <img
                                    class="card__album__img"
                                    src="https://data1.pokemonkorea.co.kr/newdata/2022/03/2022-03-11_10-39-09-70545-1646962749.png"
                                    alt=""
                            />
                        </div>
                        <div class="card__text">
                            <div class="card__title">감성 꼬부기 이모티콘 출시~!!</div>
                            <div class="card__sub">
                                <span class="card__sub__date">2022년 03월 11일</span>
                                <button class="card__sub__button">
                                    <img
                                            class="card__sub__button__img"
                                            src="https://pokemonkorea.co.kr/img/icon/icon_go.png"
                                            alt=""
                                    />
                                </button>
                            </div>
                            <div class="card__sub__line"></div>
                        </div>
                    </article>
                </a>

                <a
                        href="http://traders.ssg.com/item/itemView.ssg?itemId=1000266327134&amp;siteNo=6002&amp;salestrNo=2154"
                >
                    <article class="card">
                        <div class="card__album">
                            <img
                                    class="card__album__img"
                                    src="https://data1.pokemonkorea.co.kr/newdata/2022/01/2022-01-07_17-03-36-94332-1641542616.jpg"
                                    alt=""
                            />
                        </div>
                        <div class="card__text">
                            <div class="card__title">포켓몬 캠핑체어 이마트트레이더스에서 절찬 판매중!</div>
                            <div class="card__sub">
                                <span class="card__sub__date">2022년 01월 07일</span>
                                <button class="card__sub__button">
                                    <img
                                            class="card__sub__button__img"
                                            src="https://pokemonkorea.co.kr/img/icon/icon_go.png"
                                            alt=""
                                    />
                                </button>
                            </div>
                            <div class="card__sub__line"></div>
                        </div>
                    </article>
                </a>

                <a
                        href="http://www.yes24.com/Product/Goods/103753973"
                >
                    <article class="card">
                        <div class="card__album">
                            <img
                                    class="card__album__img"
                                    src="https://data1.pokemonkorea.co.kr/newdata/2021/12/2021-12-29_10-04-18-78571-1640739858.jpg"
                                    alt=""
                            />
                        </div>
                        <div class="card__text">
                            <div class="card__title">포켓몬 극장판 「정글의  아이, 코코」 필름북 절찬 판매중!</div>
                            <div class="card__sub">
                                <span class="card__sub__date">2021년 12월 29일</span>
                                <button class="card__sub__button">
                                    <img
                                            class="card__sub__button__img"
                                            src="https://pokemonkorea.co.kr/img/icon/icon_go.png"
                                            alt=""
                                    />
                                </button>
                            </div>
                            <div class="card__sub__line"></div>
                        </div>
                    </article>
                </a>

                <a
                        href="http://www.neweracapkorea.com/shop/shopbrand.html?xcode=104&amp;mcode=001&amp;scode=080&amp;type=Y"
                >
                    <article class="card">
                        <div class="card__album">
                            <img
                                    class="card__album__img"
                                    src="https://data1.pokemonkorea.co.kr/newdata/2021/12/2021-12-29_09-48-11-82238-1640738891.jpg"
                                    alt=""
                            />
                        </div>
                        <div class="card__text">
                            <div class="card__title">뉴에라 포켓몬 키즈 후디 4종 판매중!</div>
                            <div class="card__sub">
                                <span class="card__sub__date">2021년 12월 29일</span>
                                <button class="card__sub__button">
                                    <img
                                            class="card__sub__button__img"
                                            src="https://pokemonkorea.co.kr/img/icon/icon_go.png"
                                            alt=""
                                    />
                                </button>
                            </div>
                            <div class="card__sub__line"></div>
                        </div>
                    </article>
                </a>
            </div>
            <a href="https://pokemonkorea.co.kr/news/4">
                <div class="more">
                    <div class="more__text">더보기</div>
                    <div class="more__image">
                        <img src="https://pokemonkorea.co.kr/img/icon/icon_more.png" />
                    </div>
                </div>
            </a>
        </div>
    </section>
    <!-- 상품페이지 - 새로운 소식 E -->

    <!-- 상품페이지 - 상품목록 S -->
    <section class="product">
        <div class="product__container">
            <ul class="product__list">
                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15455"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-21_13-47-51-31339-1732164471.jpg"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">식품 및 기타</small>
                            <div class="product__title__text">
                                [성수미술관] 포켓몬 도안
                            </div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15453"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-21_11-55-29-63938-1732157729.png"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">식품 및 기타</small>
                            <div class="product__title__text">[삼립] - 포켓몬 빵</div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15426"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-20_09-59-48-47243-1732064388.jpg"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">출판</small>
                            <div class="product__title__text">
                                [서울문화사] 포켓몬_수수께끼 도감
                            </div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15425"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-20_09-58-30-18756-1732064310.png"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">출판</small>
                            <div class="product__title__text">
                                [학산문화사] 포켓몬스터 리코와 로드의 모험 2권
                            </div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15414"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-19_18-58-15-93358-1732010295.png"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">식품 및 기타</small>
                            <div class="product__title__text">
                                [씨알푸드] 포켓몬 초코크런키바
                            </div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15413"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-19_18-56-28-85762-1732010188.png"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">식품 및 기타</small>
                            <div class="product__title__text">
                                [씨알푸드] 포켓몬 초코링 시리얼
                            </div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15412"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-19_18-51-40-34544-1732009900.jpg"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">출판</small>
                            <div class="product__title__text">
                                [은하수미디어] 포켓몬스터 도감 스티커북 가라르지방 포켓몬1
                            </div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15411"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-19_18-49-35-64695-1732009775.jpg"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">출판</small>
                            <div class="product__title__text">
                                [은하수미디어] 포켓몬스터 도감 스티커북 가라르지방 포켓몬2
                            </div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15408"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-19_18-08-19-12012-1732007299.jpg"
                                alt=""
                        />

                        <div class="product__title">
                            <small class="product__title__theme">출판</small>
                            <div class="product__title__text">
                                [예림당] 포켓몬스터 알파벳쓰기 30일 마스터
                            </div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15407"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-19_18-07-00-90477-1732007220.png"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">출판</small>
                            <div class="product__title__text">
                                [예림당] 포켓몬스터 영단어쓰기 100일 마스터
                            </div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15406"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-19_18-05-08-61423-1732007108.png"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">출판</small>
                            <div class="product__title__text">
                                [예림당] 포켓몬스터 한글낱말 100일 마스터
                            </div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15405"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-19_18-03-26-93810-1732007006.png"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">출판</small>
                            <h3 class="product__title__text">
                                [예림당] 포켓몬스터 한글쓰기 100일 마스터
                            </h3>
                        </div>
                    </a>
                </div>
            </ul>
            <a href="https://pokemonkorea.co.kr/goods/category/">
                <div class="more">
                    <div class="more__text">더보기</div>
                    <div class="more__image">
                        <img src="https://pokemonkorea.co.kr/img/icon/icon_more.png" />
                    </div>
                </div>
            </a>
        </div>
    </section>
    <!-- 상품페이지 - 상품목록 E -->

</main>
</body>
</html>