.game__gift {
  width: 100vw;
  background-image: url("https://pokemonkorea.co.kr/img/game/gift_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* 배경 이미지가 전체 섹션을 덮도록 설정 */
  padding: 70px 0;
}

.game__gift > h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 40px;
  font-size: 8vw; /* 화면 크기에 비례하도록 설정 */
  font-weight: 700;
}

.game__gift__swiper {
  width: 80%; /* 화면 크기에 맞게 너비 조정 */
  max-width: 290px; /* 최대 너비는 원래 크기 */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: white;
}

.game__gift__swiper > a {
  width: 100%; /* a 태그를 부모 너비에 맞추기 */
}

.game__gift__swiper > img {
  width: 100%;
  height: auto; /* 비율에 맞게 높이가 자동으로 조정되도록 설정 */
  padding: 0 0 12px;
}

.game__gift__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  color: black;
  margin-top: 20px;
}

.info__tit {
  width: fit-content;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  background-color: #000;
  color: white;
  display: flex;
  margin: 0 auto;
  padding: 7px 11px;
}

.info__sub {
  margin-top: 8px;
  font-size: 5vw; /* 화면 크기에 맞게 조정 */
  font-weight: 300;
}

/* 슬라이더 버튼 스타일 */
.game__gift .swiper-button-next,
.game__gift .swiper-button-prev {
  color: #000000;
  background-color: rgb(255, 255, 255); /* 버튼 배경 투명도 */
  border-radius: 50%;
  width: 10vw; /* 버튼 크기를 화면 비율에 맞게 설정 */
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

/* 버튼 위치 조정 */
.game__gift .swiper-button-next {
  right: 5vw; /* 화면 크기에 맞게 오른쪽 위치 설정 */
}

.game__gift .swiper-button-prev {
  left: 5vw; /* 화면 크기에 맞게 왼쪽 위치 설정 */
}
