/* Grid 레이아웃 */
.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* 최소 280px, 최대 1fr 크기 */
  grid-gap: 10px;
  width: 100%;
}

/* 게임 항목 리스트 */
.news__game__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  width: 100%;
}

/* 개별 게임 항목 */
.game__li__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px; /* 항목 최대 너비 */
  margin: 10px;
}

/* '더보기' 버튼 */
.news__more {
  width: 100%;
  max-width: 300px;
  height: 55px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  transform: skew(-20deg);
  border: 1px solid transparent;
}

.news__more__text {
  color: black;
  font-size: 18px;
  font-weight: 700;
  transform: skew(20deg);
}

/* 뉴스 카드 레이아웃 */
.game__news {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* 최소 280px 크기 */
  grid-gap: 10px;
  background-color: black;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card__text {
  background-color: #fff;
  text-align: left;
  border-bottom: 5px solid red;
  padding: 10px;
}

.card__title {
  color: #000;
  font-size: 18px;
  font-weight: 800;
  padding: 10px;
  text-align: left;
}

.card__sub {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  padding: 10px;
}

.card__sub__date {
  font-size: 14px;
  color: #666;
}

/* 뉴스 앨범 이미지 */
.news__album {
  width: 100%;
}

.news__album > img {
  width: 100%;
  height: auto;
}

/* 원형 버튼 */
.round__go {
  position: relative;
  margin-left: 265px;
  bottom: 10px;
  right: 25px;
  width: 42px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 20px;
  font-size: 12px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
