<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <th:block th:replace="~{/front/pokemon/_navigator::navigator}"></th:block>

    <section class="details" th:object="${item}">
        <div class="left">
            <div class="heart">
                <th:block th:utext="${@wishService.showWish(item.seq, 'POKEMON', myPokemons)}"></th:block>
            </div>
            <div class="left__img">
                <th:block th:utext="*{@utils.showImage(frontImage, 390, 390, 'image')}"></th:block>
            </div>
        </div>
        <div class="pokemon__list__info">
            <div class="right__tit">
                <div class="item-no"
                     th:text="*{#strings.concat('No.', #numbers.formatInteger(seq, 4))}"></div>
                <div class="item-nm" th:text="*{name}"></div>
            </div>

            <!-- 버튼 클릭 시 모달 창 표시 -->
            <div class="pokemon__list__info__btn">
                <button class="show-button" onclick="toggleFlavorText()">이 포켓몬이 궁금해!</button>
            </div>

            <!-- 모달 창 -->
            <div id="flavor-modal" class="flavor-modal">
                <div class="flavor-modal-content">
                    <span class="close-btn" onclick="toggleFlavorText()">&times;</span>
                    <!-- flavorText와 Pokemon 정보 함께 표시 -->
                    <div class="flavor-text" th:text="*{flavorText}"></div>

                    <!-- Pokemon의 타입, 분류, 특성 정보 -->
                    <div class="spec-info">
                        <ul class="spec__upper">
                            <li class="spec__type">
                                <div class="tit" th:text="#{타입 :}"></div>
                                <div class="text">
                                        <span th:each="type : *{_types}"
                                              th:text="${#messages.msg(type)}"></span>
                                </div>
                            </li>

                            <li class="pokemon__list__classification">
                                <div class="tit" th:text="#{분류 :}"></div>
                                <div class="text" th:text="*{genus}"></div>
                            </li>

                            <li class="pokemon__list__characteristic">
                                <div class="tit" th:text="#{특성 :}"></div>
                                <div class="text">
                                    <span th:each="ability : *{_abilities}" th:text="${ability}"></span>
                                </div>
                            </li>
                        </ul>
                    </div> <!--// spec-info-->
                </div>
            </div> <!--// flavor-modal-->
        </div> <!--// pokemon__list__info-->
    </section>

    <script>
        const toggleFlavorText = () => {
            const modal = document.getElementById("flavor-modal");
            // 모달의 display 속성을 토글하여 표시/숨김 처리
            modal.style.display = modal.style.display === "block" ? "none" : "block";
        }
    </script>
</main>
</html>
