<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/admin/css/outline/header.css}" />
</head>

    <header th:fragment="common">
        <div class="left">
            <a th:href="@{/}" class="logo">
                <div class="logo__album">
                <img th:src="@{/admin/images/logo.png}">
                </div>
            </a>
        </div>
        <div class="right">
            <span class="welcome" th:text="${#messages.msg('LOGIN_MSG', profile.name, profile.email)}"></span>
            <a th:href="@{/member/logout}">
                <i class="xi-log-out"></i>
                로그아웃
            </a>
        </div>
    </header>
</html>