.agreemain{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background: #f1f3f5;
    box-sizing: border-box;

}
.agreesection{
display:flex;
    flex-direction: column;
padding-top: 25px;

padding-right: 20px;


padding-left: 20px;
width:550px;
height:auto;
background: #ffffff;
padding-bottom:30px;
font-size:18px;
}
.title{

font-size:23px;
margin-bottom: 20px;
}
.agree{


text-align:left;
}
.next_step{
width: 300px;
    height: 55px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform: skew(-20deg);
    border: 1px solid transparent;
    color:#ffffff;
}
.terms-check-all{
border-bottom:1.5px solid black;
padding-bottom:10px;
margin-bottom:10px;
}