@font-face {
    font-family: 'Ramche';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.mypage {
  max-width: 1250px; /* 최대 너비 제한 */
  margin: 0 auto;
  display: flex;
  margin-top: 170px;

  border: 1px solid black;

   margin-bottom: 50px;
}

/* 왼쪽 콘텐츠 */
.mypage__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  width: 625px; /* 고정 너비 */
  background-color: #ebedea; /* 배경색 */
  padding: 40px; /* 내부 여백 */
}

.mypage__left > h3 {
  font-size: 20px;
  font-weight: bold;
}

.mapage__album {
  width: 200px;
  height: 200px;
  margin: 40px 0;
}

.mapage__album > img {
  width: 100%;
  height: 100%;
}

.option__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 20px;
}

.option__count {
  width: fit-content;
}

.option__btn {
  width: fit-content;
}




