/* 오른쪽 메뉴 */
.menu {
  position: absolute;
  top: 167px;       /* 원하는 고정된 위쪽 간격 */
  right: 120px;     /* 오른쪽 간격 */
  width: 100px;    /* 메뉴 크기 */
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.menu__btn {
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #f7d913;
  cursor: pointer;

  font-size: 20px;
  font-weight: bold;
}
